/*elementos del flex*/
header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.contenedor-flex{
    width:100%;
    max-width:1366px;
    min-width:220px;
    margin:0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center ;
    align-content: stretch;
}
.imagenes{
  width:100%;
  max-width:1366px;
  min-width:220px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center ;
  align-content: space-around;
}
.footer{
  width:100%;
  max-width:1366px;
  min-width:220px;
  background: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
  align-items: center ;
  align-content: space-around;
}
#galeria{
  width:100%;
  max-width:1366px;
  min-width:220px;
  display: flex;
  flex-flow: row wrap;
}
/*fin de elementos flex*/

/*sub elementos del flex*/
header{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height:auto;
  overflow:hidden;
  text-align:center;
  flex: 1 100%;
  position: sticky;
  top: 0;
}
#imagen_principal{
  background-color:#82c3a6;
  height:100%;
  flex: 1 100%;
}
#imagen_sec_i{
    height:100%;
    background: #d5c75f;
    flex: 1 auto;
}
#imagen_sec_d{
    height:100%;
    background: #d5c75f;
    flex: 1 auto;
}
#caja1{
    height:350px;
    flex: 1 auto;
    border-bottom-left-radius: 10px;
}
#caja2{
    height:350px;
    flex: 1 auto;
}
#caja3{
    height:350px;
    flex: 1 auto;
}
#caja4{
    height:350px;
    flex: 1 auto;
    border-bottom-right-radius: 10px;
    /*font-weight: bold;*/
}

#galeria1{
  height: auto;
  flex: 1 auto;
}
#galeria2{
  height: auto;
  flex: 1 auto;
}
#galeria3{
  height: auto;
  flex: 1 auto;
}
/*fin de sub elementos del flex*/

/*elementos generales*/
body{
  background-color: #02010a;
}
header h1{
  color: white;
  text-shadow: 2px 0px 0px #02010a;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  letter-spacing: 3px;
  line-height:60px;
  margin:0;
  font-size:35px;
  float:left;
  width:60%;
  padding-left:20px;
  box-sizing:border-box;
}
header nav{
  float:left;
  width:40%;
  line-height:60px;
  padding-right:20px;
  box-sizing:border-box;
}

li a{
    text-decoration: none;
    color: yellow;
    font-family: 'Bad Script', cursive;
    letter-spacing: 2px;
}
header ul li{
    margin:0 5px;
    font-size:20px;
    cursor:pointer;
    color:#D5C5C5;
}
.elemento{
    color:#fff;
    text-align: center;
    padding-top: 10px
}
.icono{
     width: 30px;
}
div img{
  margin: auto;
  display:block;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 0px #02010a;
  width: 80%;
}
p{
    font-family: 'Bad Script', cursive;
    text-align: center;
}
h2{
    font-family: 'Righteous', cursive;
    text-align: center;
}
.tituloimg{
    width: 50%;
    text-align: center;
    background: #d5c75f;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    text-decoration:underline;
}
/*fin de elementos generales*/


/* animaciones de imagenes*/
#paisaje{
  transition: all .4s;
}
#paisaje:hover{
  border: 2px solid black;
  box-shadow: 2px 0px 0px #82c3a6;
  transform: rotate(10deg);
}
#retrato{
  transition: all .6s;
}
#retrato:hover{
  transform: translate(20px,-5px);
  border: 2px solid black;
  box-shadow: 2px 2px 2px #82c3a6;
}
li:hover{
    border: 1px solid;
}
.img_gris{
  filter: grayscale(100%);
}
/*fin de animaciones de imagenes*/

/*animacion de entrada*/
header {
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}
/*fin de animacion de entrada*/
/* Cambios responsive*/
@media screen and (max-width: 900px) {
    .galeria{
      width: 100%
    }
    header h1{
        font-size: 1.2em;
        width: 100%
    }
    header nav{
        width: 100%;
    }
    header ul{
        flex-flow: row wrap;
    }
    li a{
        font-size: 12px;
    }
    header{
        display: block;
        order:0;
    }
    #imagen_principal{
        flex: 1 100%;
        order:1;
    }
    #imagen_sec_i{
        flex: 1 100%;
        order:2;
    }
    #lblpaisaje{
        flex: 1 100%;
        order:3;
    }
    #imgen_sec_d{
        flex: 1 100%;
        order:4;
    }
    #lblretrato{
        flex: 1 100%;
        order: 5
    }
    #caja1{
         height: auto;
         flex: 1 100%;
    }
    #caja2{
        height: auto;
         flex: 1 100%;
    }
    #caja3{
        height: auto;
         flex: 1 100%;
    }
    #caja4{
        height: auto;
         flex: 1 100%;
    }
}
